

.test{
color: whitesmoke;
width: 1rem;
}

nav{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    gap: 1vw ;
    text-decoration: none;
    list-style: none;
    background-color: #233880;
    font-size: 2rem;
    padding: 1vw;
    color: white;
    font-weight: 900;
}

li{
    cursor: pointer;
}

h1{
    justify-content: center;
}

