html {
    padding: 0;
    margin: 0;
    width: auto;
}

#skillCircle {
    margin: 20vw;
    display: grid;
    width: 15vw;
}

.skill {
    transform-origin: right;
    grid-area: 1 / 1 / 2 / 2;
    transition: scale .3s;
    transition: ease 0.2s scale;
}

#skillArea{
    display: grid;
    grid-template-columns: 50vw 50vw;
}

.skill:hover {
    scale: 1.1;
}

.skillImage {
    width: 5vw;
    cursor: pointer;
}


:root {}